<style>

.imagem
{
	height: 20px;
}

.dados
{
	margin-left: 37%;
	margin-top: 9%;
	width: 25%;
	height: 500px;
}

.btton
{
	margin-left: 38%;
	margin-top: 7%;
}
.forma
{
	height: 100px;
}
.mudar
{
	margin-left: 57%;
}
.cadastro
{
	margin-top: 11%;
}
</style>